# Ignore build artifacts and executables
*.out
*.dSYM/
*.exe
*.o
*.obj

# Ignore specific executables by name (add as needed)
/build

hello
first
basic_functions
wc

# Ignore VSCode settings
.vscode/

# Do NOT ignore source or header files
!*.c
!*.h